body
{
    font-family:  "Raleway", sans-serif;
}    
h2
{
    font-weight: bold;
    font-size: medium;
}
p
{
    font-size: small;
}
@font-face{
    font-family: "Raleway";
    src: url(Font/Raleway-Italic-VariableFont_wght.ttf);
    src: url(Font/Raleway-VariableFont_wght.ttf);
}
#ligne1
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#hai
{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
.logo
{
    text-align: left;
}
#hai a
{
    color: #0065FC;
    text-decoration: none;
}
.villenature
{
    font-weight: normal;
    font-size: small;
}
.loc
{
    background-color: #F2F2F2;
    height: 200px;
    padding: 7px;
    border-radius: 10px 0px 0px 10px;
    margin: 0px;
}
header i
{
    font-size: medium;
    width: 3%;
    text-align: center;
}
input
{
    padding: 7px;
    border: 0px;
    font-weight: bold;
    width: 8%;
}
.recherche
{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
}
section i
{
    color: #0065FC;
    height: 30px;
    width: 30px;
    background-color: #DEEBFF;
    text-align: center;
    padding: 15px 10px 3px 10px;
    border-radius: 50%;
    font-size: medium;  
}
p a
{
    text-decoration: none;
}
.filter
{
    border: 2px solid #F2F2F2;
    padding: 15px 15px 15px 0px;
    border-radius: 30px 30px;
}
.textes
{
    padding: 15px 10px 15px 20px;
    font-size: medium;
    color: black;
    font-weight: 700;
    font-style: normal;
}
p a:hover
{
    padding: 15px 0px 15px 0px;
    border-radius: 30px 30px;
    background-color:  #DEEBFF;
}
#titrepopulaire
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside img
{
    width: 40%;
    height: 85px;
}
aside figure
{
    border: 1px solid black;
    width: 15%;
    height: 85px;
}
aside figure i
{
    color: #0065FC;
}
aside figure a
{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    font-size: small;
}
aside figure a figcaption
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@media (max-width:768px)
{
    #ligne1
    {
        flex-direction: column;
    }
}








