body
{
    font-family: "Raleway", sans-serif;
    margin: 0px;
}    
h2
{
    font-weight: bold;
    font-size: medium;
    margin-bottom: 0;
}
p
{
    font-size: small;
}
@font-face
{
    font-family: "Raleway";
    src: url(Font/Raleway-VariableFont_wght.ttf);
    font-display: swap;
   
}
#ligne1
{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;

}
#logo
{
    width: 70%;
}
#logo img
{
    width: 10%;
    height: 70%;
    object-fit: cover;
}
.h a
{
    color: gray;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}
.h
{
    width: 10%;
    text-align: right;
}
.a a
{
    color: gray;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}
.a
{
    width: 10%;
    text-align: right;
}
.i a
{
    color: #0065FC;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}
.i
{
    width: 10%;
    text-align: right;
}

.a a:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 30px;
}
.h a:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 30px;
}
.vacances
{
    margin-bottom: 20px;
}
header h2
{
    font-size: 19.2px;
    font-weight: 900;
    font-family: sans-serif;
}
.villenature
{
    font-weight: normal;
    font-size: small;
}
#rechercher
{
    display: none;
}
form
{
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    width: 450px;
    height: 40px;
}
.loc
{
    background-color: #F2F2F2;
    padding: 8px;
    width: 10%;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    font-size: medium;
}   
input
{
    font-weight: bold;
    border: 1px solid #F2F2F2;
    padding-left: 10px;
    font-size: medium;
}
.recherche
{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    width: 40%;
    height: 40px;
}
.filtres
{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.filtres i
{
    color: #0065FC;
    width: 30px;
    height: 30px;
    background-color: #DEEBFF;
    text-align: center;
    padding: 11px 5px 0px 5px;
    border-radius: 50%;
    font-size: medium;  
}
.filtres a
{
    text-decoration: none;
    font-size: medium;
    color: black;
    font-weight: 700;
    font-style: normal;
    border: 2px solid #F2F2F2;
    border-radius: 30px 30px;
    margin-bottom: 18px;
    margin-top: 8px;
}
.textes
{
    margin-left: 15px;
}
.economique
{
    width: 200px;
}
.familial
{
    width: 160px;
}
.romantique
{
    width: 200px;
}
.animaux
{
    width: 230px;
}
.textefiltres
{
    padding-top: 20px;
    font-weight: bold;
}
.filtres a:hover
{
    background-color:  #DEEBFF;
}
.plus i
{
    color: #0065FC;
    font-size: small;
    border-radius: 50%;
    border: 1px solid #DEEBFF;
    padding: 4px 8px 4px 8px;
    margin-right: 5px;
}
.plus
{
    width: 100%;
}

aside
{
    width: 25%;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    justify-content: space-around;
    padding-left: 30px;
}
#hotelpop
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 540px;
}
aside img
{
    width: 40%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}
aside i
{
    color: #0065FC;
    font-size: 15px;
}
.far 
{
    color: #F2F2F2;
}
#titrepopulaire
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}
#titrepopulaire h2
{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 20px;
}
#titrepopulaire i
{
    color: black;
    padding-right: 10px;
    font-size: 20px;
}
aside a
{
    text-decoration: none;
    color: black;
    font-size: small;
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5px;
    border-radius: 10px 10px;
    background-color: white;
    height: 20%;
    box-shadow: 2px 2px 20px grey;
}
.asidehotel
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    font-size: 15px;
}
.heb
{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 0px 10px 10px 0px;
}
.heb h2
{
    font-size: 20px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}
#hotel1 a
{
    text-decoration: none;
    color: black;
    font-size: small;
    width: 30%;
    border-radius: 10px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px grey;
}
#hotel2 a
{
    text-decoration: none;
    color: black;
    font-size: small;
    width: 30%;
    border-radius: 10px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px grey;
}
.heb .fas
{
    color: #0065FC;
}
#hebergements
{
    padding-left: 20px;
}
#hotel1
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 35%;
}
#hotel2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 35%;
}
#afficherplus a
{
    padding-left: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}
.heb img
{
    height: 60%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.heb i
{
    font-size: 13px;
}
.textehotel
{
    font-size: 15px;
    padding: 8px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#section1
{
    display: flex;
    justify-content: space-between;
}
.activites
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.activites h2
{
    margin-bottom: 15px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
}
.activites img
{
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

#marseille
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
}
#marseille a
{
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-radius: 10px 10px;
    box-shadow:  6px 6px 0px #F2F2F2;
}
#nl
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

#fi
{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
}
.vieuxport
{
    width: 20%;
}
.vieuxport img
{
    width: 100%;
    height: 90%;
}
.calanques
{
    width: 20%;
    height: 100%;
}
.calanques img
{
    width: 100%;
    height: 90%;
}
.fortdepomegues
{
    height: 50%;
}
.fortdepomegues img
{
    width: 100%;
    height: 81%;
}
.ilesdufrioul
{
    height: 40%;
}
.ilesdufrioul img
{
    width: 100%;
    height: 75%;
}
.notredame
{
    height: 45%;
}
.notredame img
{
    width: 100%;
    height: 80%;
}
.longchamp
{
    height: 45%;
}
.longchamp img
{
    width: 100%;
    height: 80%;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #F2F2F2;
}
footer a
{
    text-decoration: none;
    color: black;
}
footer div
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
}



@media (max-width:768px)
{
    #ligne1
    {
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 2px solid #F2F2F2;
    }
    #logo:nth-child(1)
    {
        order: 1;
        width: 49%;
        padding-left: 20px;
    }
    #logo img
    {
        width: 50%;
        height: 50%;
    }
    .h:nth-child(2)
    {
        min-width: 100px;
        order: 3;
        width: 49%;
        text-align: center;
    }
    .a:nth-child(3)
    {
        order: 4;
        min-width: 100px;
        width: 49%;
        text-align: center;
    }
    .i:nth-child(4)
    {
        min-width: 100px;
        order: 2;
        width: 40%;
        padding-top: 25px;
        padding-right: 50px;
    }
    .i a
    {
        font-size: xx-large;
    }
    .h a
    {
        font-size: xx-large;
        display: block;
        font-weight: bold;
    }
    .a a
    {
        font-size:xx-large;
        display: block;
    }
    .h a:hover
    {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: unset;
        padding-top: unset;
    }
    .a a:hover
    {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: unset;
        padding-top: unset;
    }

    .vacances
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        align-items: center;
    }
    header h2
    {
        font-size: xx-large;
        width: 55%;
        text-align: left;   
    }
    .villenature
    {
        text-align: left;
        width: 55%;
        height: 30px;
        font-size: x-large;
    }
    form
    {
        width: 100%;
        height: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .loc
    {
        border-radius: 20px 0px 0px 20px;
        padding: 15px 0px 0px 0px;
        width: 8%;
    }
    #mf
    {
        width: 40%;
        font-weight: bold;
    }
    input
    {
        width: 50%
    }
    #localisation
    {
        display: none;
    }
    #rechercher
    {
        display: unset;
    }
    #loupe 
    {
        width: 8%;
        text-align: center;
        padding-top: 15px;
        border-radius: 10px 10px;
        background-color: #0065FC;
        color: white;
    }
    .filtres
    {
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
        border: 1px solid black;
    }
    .textefiltres
    {
        width: 100%;
        font-size: xx-large;
        margin-bottom: unset;
    }
    .economique
    {
        margin-left: 5px;
        margin-bottom: unset;
    }
    .familial
    {
        margin-right: 30%;
        margin-left: 10px;
        margin-bottom: unset;
        font-size: xx-large;
    }
    .romantique
    {
        margin-right: 70%;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: unset;
    }
    .animaux
    {
        margin-left: 5px;
        margin-top: 5px;
    }
    .filtres a
    {
        margin-bottom: unset;
    }
    #section1
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .heb
    {
        background-color: white;
    }
    #hotel1
    {
        flex-direction: column;
        justify-content: center;
    }
    #hotel2
    {
        flex-direction: column;
        justify-content: center;
    }
}
    










