body
{
    font-family: "Raleway", sans-serif;
    margin: 0px;
}    
h2
{
    font-weight: bold;
    font-size: medium;
    margin-bottom: 0;
}
p
{
    font-size: small;
}
@font-face
{
    font-family: "Raleway";
    src: url(Font/Raleway-Regular.ttf);
    font-display: swap;
}
@font-face
{
    font-family: "Raleway-Bold";
    src: url(Font/Raleway-Bold.ttf);
    font-display: swap;
}
header
{
    margin: 0 10px 0 10px;
}
#ligne1
{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
#logo
{
    width: 70%;
}
#logo img
{
    width: 10%;
    height: 70%;
    object-fit: cover;
}
.h a
{
    color: gray;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}
.h
{
    width: 10%;
    text-align: right;
}
.a a
{
    color: gray;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}
.a
{
    width: 10%;
    text-align: right;
}
.i a
{
    color: #0065FC;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}
.i
{
    width: 10%;
    text-align: right;
}

.a a:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 30px;
}
.h a:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 30px;
}
.vacances
{
    margin-bottom: 20px;
}
header h2
{
    font-size: 19.2px;
    font-family:"Raleway-Bold";
}
.villenature
{
    font-weight: normal;
    font-size: small;
}
#rechercher
{
    display: none;
}
form
{
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    width: 25%;
    height: 40px;
}
.loc
{
    background-color: #F2F2F2;
    padding: 8px;
    width: 10%;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    font-size: medium;
}   
input
{
    font-weight: bold;
    border: 1px solid #F2F2F2;
    padding-left: 10px;
    font-size: medium;
}
.recherche
{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    width: 40%;
    height: 40px;
}
.filtres
{
    display: flex;
    justify-content: start;
}
.filtres h2
{
    padding-top: 20px;
    margin: 0 15px 0 15px; 
    font-family:"Raleway-Bold";
}
.filtres i
{
    color: #0065FC;
    width: 30px;
    height: 30px;
    background-color: #DEEBFF;
    text-align: center;
    padding: 11px 5px 0px 5px;
    border-radius: 50%;
    font-size: medium;  
}
.filtres a
{
    text-decoration: none;
    font-size: medium;
    color: black;
    font-style: normal;
    border: 2px solid #F2F2F2;
    border-radius: 30px 30px;
    margin: 8px 15px 18px 0;
    font-family:"Raleway-Bold";
    padding-right: 10px;
}
.textes
{
    padding-left: 10px;
}
.textefiltres
{
    padding-top: 20px;
    font-weight: bold;
}
.filtres a:hover
{
    background-color:  #DEEBFF;
}
.plus i
{
    color: #0065FC;
    font-size: small;
    border-radius: 50%;
    border: 1px solid #DEEBFF;
    padding: 4px 8px 4px 8px;
    margin-right: 5px;
    margin-bottom: auto;
    margin-top: auto;
}
.plus
{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.plus p
{
    padding-top: 5px 0 0 0;
}
aside
{
    width: 25%;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    justify-content: space-around;
    padding-left: 30px;
}
aside img
{
    width: 40%;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}
aside i
{
    color: #0065FC;
    font-size: 15px;
}
.far 
{
    color: #F2F2F2;
}
#titrepopulaire
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}
#titrepopulaire h2
{
    margin: 0;
    font-size: 20px;
    font-family:"Raleway-Bold";
}
#titrepopulaire i
{
    color: black;
    padding-right: 10px;
    font-size: 20px;
}
aside a
{
    text-decoration: none;
    color: black;
    font-size: small;
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 5px;
    border-radius: 10px 10px;
    background-color: white;
    height: 20%;
    box-shadow: 2px 2px 20px grey;
}
.asidehotel
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    width: 40%;
    font-size: 15px;
}
.heb
{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px 10px;
    margin-left: 10px;
}
.heb h2
{
    font-size: 20px;
    margin: 0;
    font-family:"Raleway-Bold";
}
#hotel1 a
{
    text-decoration: none;
    color: black;
    font-size: small;
    width: 30%;
    border-radius: 10px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px grey;
}
#hotel2 a
{
    text-decoration: none;
    color: black;
    font-size: small;
    width: 30%;
    border-radius: 10px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px grey;
}
.heb .fas
{
    color: #0065FC;
}
#hebergements
{
    padding-left: 20px;
}
#hotel1
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 35%;
}
#hotel2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 35%;
}
#afficherplus a
{
    padding-left: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}
.heb img
{
    height: 60%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.heb i
{
    font-size: 13px;
}
.textehotel
{
    font-size: 15px;
    padding: 8px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#section-b
{
    display: flex;
    justify-content: space-between;
}
#section-b strong
{
    font-family:"Raleway-Bold";
}
#section-c
{
    margin-top: 30px;
    margin-bottom: 30px;
}
#activités 
{
    margin-bottom: 15px;
    padding-left: 20px;
    font-size: 20px;
    font-family:"Raleway-Bold";
}
#section-c img
{
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
#marseille
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
}
#marseille a
{
    text-decoration: none;
    color: black;
    border-radius: 10px 10px;
    box-shadow:  6px 6px 0px #F2F2F2;
    font-family:"Raleway-Bold";
}
#nl
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

#fi
{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
}
.vieuxport
{
    width: 20%;
}
.vieuxport img
{
    width: 100%;
    height: 90%;
}
.calanques
{
    width: 20%;
    height: 100%;
}
.calanques img
{
    width: 100%;
    height: 90%;
}
.fortdepomegues
{
    height: 50%;
}
.fortdepomegues img
{
    width: 100%;
    height: 81%;
}
.ilesdufrioul
{
    height: 40%;
}
.ilesdufrioul img
{
    width: 100%;
    height: 75%;
}
.notredame
{
    height: 45%;
}
.notredame img
{
    width: 100%;
    height: 80%;
}
.longchamp
{
    height: 45%;
}
.longchamp img
{
    width: 100%;
    height: 80%;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #F2F2F2;
}
footer a
{
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 8px;
}
footer div
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
    margin-left: 10px;
    margin-bottom: 20px;
}
footer h3
{
    font-family:"Raleway-Bold";
}


@media screen and (max-width: 1000px)
{
    #ligne1
    {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0;
        
    }
    #logo:nth-child(1)
    {
        order: 1;
        width: 49%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    #logo img
    {
        width: 50%;
        height: 60%;
    }
    .h:nth-child(2)
    {
        order: 3;
        width: 50%;
        text-align: center;
        margin-top: 25px;
    }
    .a:nth-child(3)
    {
        order: 4;
        width: 50%;
        text-align: center;
        margin-top: 25px;
    }
    .i:nth-child(4)
    {
        order: 2;
        width: 40%;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .i a
    {
        font-size: 15px;
    }
    .h a
    {
        font-size: 15px;
        display: block;
        font-weight: bold;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 10px;
    }
    .a a
    {
        font-size:15px;
        display: block;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 10px;
    }
    .h a:hover
    {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: unset;
        padding-top: unset;
    }
    .a a:hover
    {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: unset;
        padding-top: unset;
    }

    .vacances
    {
        display: flex;
        flex-direction: column;
    }
    header h2
    {
        margin-left: 22px;
        width: 80%;   
    }
    .villenature
    {
        font-size: 15px;
        margin: 10px 0px 0px 22px;
        font-weight: 700;
    }
    form
    {
        width: 100%;
        height: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .loc
    {
        border-radius: 15px 0px 0px 15px;
        padding: 12px 0px 0px 0px;
        width: 12%;
        font-size: 15px;
    }
    #mfr
    {
        width: 56%;
        font-weight: bold;
    }
    input
    {
        width: 50%
    }
    #localisation
    {
        display: none;
    }
    #rechercher
    {
        display: unset;
    }
    #loupe 
    {
        width: 12%;
        text-align: center;
        padding-top: 12px;
        border-radius: 10px 10px;
        background-color: #0065FC;
        color: white;
    }
    .filtres
    {
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
    }
    .filtres h2
    {
        width: 100%;
        font-size: 16px;
        margin-bottom: unset;
        font-weight: 700;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .economique
    {
        margin-left: 5px;
        margin-bottom: unset;
        width: 45%;
    }
    .familial
    {
        width: 35%;
        margin-left: 10px;
        margin-bottom: unset;
        font-size: xx-large;
    }
    .romantique
    {
        margin-right: 40%;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: unset;
        width: 45%;
    }
    .animaux
    {
        margin-left: 5px;
        margin-top: 5px;
        width: 55%;
    }
    .plus
    {
        font-size: 15px;
        margin-left: 5px;
        margin-top: 20px;
    }
    .plus p
    {
        width: 90%;
        font-size: 16px;
    }
    .plus i
    {
        margin-bottom: 18px;
    }
    .filtres a
    {
        margin-bottom: unset;
    }
    #section-b
    {
        display: flex;
        flex-direction: column-reverse;
    }
    aside
    {
        width: 100%;
        padding-left: 0;
        margin-top: 30px;
        border-radius: 0;
        height: 520px;
        justify-content: flex-start;
    }
    #titrepopulaire
    {
        padding-top: 30px;
        padding-bottom: 20px;
        width: 90%;
        padding-left: 20px;
    }
    aside a
    {
        width: 85%;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .heb
    {
        background-color: white;
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
    #hebergements
    {
        padding-bottom: 20px;
    }
    #hotel1 a
    {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        height: 200px;
    }
    #hotel2 a
    {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        height: 200px;
    }
    #hotel1
    {
        flex-direction: column;
        justify-content: center;
    }
    #hotel2
    {
        flex-direction: column;
        justify-content: center;
    }
    #afficherplus a
    {
        display: block;
        margin-top: 10px;
    }
    #marseille
    {
        flex-direction: column;
        height: 100%;
    }
    .vieuxport
    {
        width: 95%;
        margin-left: 10px;
        height: 180px;
        margin-bottom: 20px;
    }
    .fortdepomegues
    {
        width: 95%;
        margin-left: 10px;
        height: 180px;
        margin-bottom: 20px;
    }
    .ilesdufrioul
    {
        width: 95%;
        margin-left: 10px;
        height: 180px;
        margin-bottom: 20px;
    }
    .calanques
    {
        width: 95%;
        margin-left: 10px;
        height: 180px;
        margin-bottom: 20px;
    }
    .notredame
    {
        width: 95%;
        margin-left: 10px;
        height: 180px;
        margin-bottom: 20px;
    }
    .longchamp
    {
        width: 95%;
        margin-left: 10px;
        height: 180px;
        margin-bottom: 20px;
    }
    #fi
    {
        width: 100%;
        justify-content: flex-start;
    }
    #nl
    {
        width: 100%;
        justify-content: flex-start;
    }
    .vieuxport img
    {
        width: 100%;
        height: 70%;
    }
    .fortdepomegues img
    {
        width: 100%;
        height: 70%;
    }
    .ilesdufrioul img
    {
        width: 100%;
        height: 70%;
    }
    .calanques img
    {
        width: 100%;
        height: 70%;
    }
    .notredame img
    {
        width: 100%;
        height: 70%;
    }
    .longchamp img
    {
        width: 100%;
        height: 70%;
    }
    .vieuxport div
    {
        margin-top: 20px;
        padding-left: 20px;
    }
    .fortdepomegues div
    {
        margin-top: 20px;
        padding-left: 20px;
    }
    .ilesdufrioul div
    {
        margin-top: 20px;
        padding-left: 20px;
    }
    .calanques div
    {
        margin-top: 20px;
        padding-left: 20px;
    }
    .notredame div
    {
        margin-top: 20px;
        padding-left: 20px;
    }
    .longchamp div
    {
        margin-top: 20px;
        padding-left: 20px;
    }
    footer
    {
        flex-direction: column;
    }
    footer div
    {
        width: 100%;
        margin-left: 10px;
    }

}
    










